* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code Retina;
    font-size: 20px;
    color: @foreground;
    /* background-color: @background; */
    /* background-color: transparent; */
    /* padding: 1px 4px 4px 0px */
    /* padding-top: 1px; */
    border-radius: 12px;
}

@import "gruvbox.css";

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -4px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    /* background-color: transparent; */
    /* box-shadow: inset 0 -4px @foreground; */
}

tooltip {
    /* color: @background; */
    /* background: @background; */
    background: rgba(40, 40, 40, 0.75);
    border: 4px solid @green;
    border-radius: 12px;
}

tooltip label {
    /* color: red; */
    color: @foreground;
    /* background: @background; */
}

#waybar {
    margin-top: 12px;
    background: transparent;
    color: @background;
}

#workspaces {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
}

#workspaces button {
    /* padding: 0 5px; */
    /* background-color: transparent; */
    /* color: #ffffff; */
    /* margin: 1px; */
    box-shadow: inset 0 -4px @foreground;
}

#workspaces button:hover {
    background: rgba(40, 40, 40, 0.75);
    /* color: @background; */
    box-shadow: none;
    border: none;
    border-radius: 6px;
}

#workspaces button.active:hover {
    background: #282828;
    /* color: @background; */
    box-shadow: none;
    border: none;
    border-radius: 6px;
}

#workspaces button.empty {
    /* color: @green; */
    box-shadow: inset 0 -4px transparent;
}

#workspaces button.empty:hover {
    background: #282828;
    /* color: @background; */
    box-shadow: none;
    border: none;
    border-radius: 6px;
}

/* Focused on other monitor */
#workspaces button.visible {
    /* background-color: #ffffff; */
    box-shadow: inset 0 -4px @blue;
}

/* Focused on other monitor */
#workspaces button.visible:hover {
    background: #282828;
    /* color: @background; */
    box-shadow: none;
    border: none;
    border-radius: 6px;
}

#workspaces button.active {
    /* background-color: #ffffff; */
    box-shadow: inset 0 -4px @green;
}

#workspaces button.urgent {
    box-shadow: inset 0 -4px @red;
    color: @red;
}

#workspaces button.urgent:hover {
    background: #282828;
    /* color: @background; */
    box-shadow: none;
    border: none;
    border-radius: 6px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#window {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    padding: 0px 12px 0px 12px;
}

window#waybar.empty #window {
    background: transparent;
}
/* #workspaces { */
/* margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin-right: 12px;
    /* background-color: @background; */
    /* border-radius: 8px; */
    background: rgba(40, 40, 40, 0.75);
    color: @foreground;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* background-color: @background; */
    color: @foreground;
}

#battery.charging,
#battery.plugged {
    color: @foreground;
    /* background-color: @green; */
    /* box-shadow: inset 0 -4px @green; */
    background-color: @green;
    color: @background;
    /* border: 4px solid @green; */
    /* border-radius: 12px; */
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @background;
    background-color: @red;
    /* box-shadow: inset 0 -4px @red; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* label:focus { */
/* background-color: #000000; */
/* } */

#cpu {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* background-color: #2ecc71; */
    /* color: #000000; */
    color: @foreground;
}

#memory {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* background-color: #9b59b6; */
    color: @foreground;
}

#disk {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    background-color: #964b00;
}

#backlight {
    padding-right: 12px;
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* background-color: #90b1b1; */
    color: @foreground;
}

#network {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* box-shadow: inset 0 -4px @green; */
    /* border: 4px solid @green; */
    /* border-radius: 12px; */
    background-color: @green;
    color: @background;
}

#network.disconnected {
    /* box-shadow: inset 0 -4px @red; */
    /* border: 4px solid @red; */
    /* border-radius: 12px; */
    /* color: @foreground; */
    background-color: @red;
    color: @background;
}

#pulseaudio {
    padding-right: 12px;
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* background-color: #f1c40f; */
    /* color: #000000; */
    color: @foreground;
}

#pulseaudio.muted {
    padding-right: 12px;
    /* background-color: @red; */
    /* color: @foreground; */
    /* box-shadow: inset 0 -4px @red; */
    /* border: 4px solid @red; */
    /* border-radius: 12px; */
    background-color: @red;
    color: @background;
    /* color: #2a5c45; */
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* background-color: #2980b9; */
    /* background-color: transparent; */
    margin-left: 12px;
}

#tray menu {
    /* background-color: @red; */
    /* background: @background; */
    background: rgba(40, 40, 40, 0.75);
    border: 4px solid @green;
    /* border: solid; */
    border-radius: 12px;
}

#tray menu menuitem:hover {
    background-color: @green;
    /* box-shadow: inset 0 -4px @foreground; */
    color: #0000ff;
    border-radius: 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    margin: 0px 0px 0px 12px;
    border-radius: 8px;
    background: rgba(40, 40, 40, 0.75);
    /* background-color: #2d3436; */
    color: @foreground;
}

#idle_inhibitor.activated {
    background: @foreground;
    color: @background;
}

