// / This config is in the KDL format: https://kdl.dev

// https://yalter.github.io/niri/Configuration:-Introduction

cursor {
    hide-when-typing

    hide-after-inactive-ms 3000
}

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).

    		options "compose:ins,compose:caps,mod_led:compose"
        }

        // Enable numlock on startup, omitting this setting disables it.
        numlock
    }
    

    touchpad {
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        accel-speed 0.2
        // accel-profile "flat"
        // scroll-factor 1.0
        // scroll-factor vertical=1.0 horizontal=-2.0
        // scroll-method "two-finger"
        // scroll-button 273
        // scroll-button-lock
        // tap-button-map "left-middle-right"
        // click-method "clickfinger"
        // left-handed
        // disabled-on-external-mouse
        // middle-emulation
    }

    mouse {
        // off // DO NOT ENABLE WILL LOCK YOU OUT OF COMPUTER
        // natural-scroll // Inverted for Toucan
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}

// https://yalter.github.io/niri/Configuration:-Outputs
output "eDP-1" {
    // off

    mode "2560x1600@165.019"

    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1.0

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // position of the output in the global coordinate space.
    // this affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // the cursor can only move between directly adjacent outputs.
    // output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // for example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=1720 y=1440
    background-color "transparent"
    backdrop-color   "transparent"
}

output "DP-1" {
    // off

    mode "3440x1440@99.982"

    scale 1.0

    transform "normal"

    position x=0 y=0

    background-color "transparent"
    backdrop-color   "transparent"
}

output "DP-2" {
    mode "2560x1440@143.995"

    scale 1.0

    transform "270"

    position x=-1440 y=0

    background-color "transparent"
    backdrop-color   "transparent"
}

output "HDMI-A-1" {
    mode "1920x1080@75.001"

    // background-color "#282828"
    // backdrop-color   "#282828"
    background-color "transparent"
    backdrop-color   "transparent"
}

overview {
    workspace-shadow {
        off
    }
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        // active-color "#d8d9ee"
        // urgent-color "#ff9999"
        padding 4
        corner-radius 4
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

// https://yalter.github.io/niri/Configuration:-Layout
layout {
    empty-workspace-above-first
    
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        // proportion 0.5
        proportion 0.66667
    }

    // default-column-width { proportion 0.44; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    focus-ring {
        off

        width 4

        active-color "#88c0d0"

        inactive-color "#d8dee9"
    }

    border {
        width 4
        // active-color "#98971a"
        // active-color "#88c0d0"
        // inactive-color "#282828cc"
        // inactive-color "#28282800"
        inactive-color "#d8dee900"

        // Color of the border around windows that request your attention.
        // urgent-color "#cc241d"
        urgent-color "#bf616a"

        active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        // on

        draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 30

        // Spread expands the shadow.
        spread 5

        // Offset moves the shadow relative to the window.
        offset x=0 y=5

        // You can also change the shadow color and opacity.
        color "#0007"
    }

    struts {
        left   0
        right  0
        top    0
        bottom 0
    }

    background-color "transparent"
}

blur {
    passes 2
    offset 1.0
    noise 0.1
    // saturation 1.0
}

spawn-at-startup "swaybg" "-c" "'#2e3440'"
spawn-at-startup "wlsunset" "-l" "56.2" "-L" "10.2" "-T" "6000" "-t" "5000"
spawn-at-startup "tmux" "start-server"
spawn-at-startup "alacritty" "--daemon"
spawn-at-startup "dunst"
spawn-at-startup "pulseaudio" "--start"
spawn-at-startup "bongocat" "--config" "~/.config/bongocat/bongocat.conf" "--watch-config"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "MOZ_USE_XINPUT2=\"1\" firefox"
spawn-at-startup "obsidian" "--ozone-platform-hint=auto" "--enable-features=UseOzonePlatform,WaylandWindowDecorations"
spawn-at-startup "pactl" "set-sink-volume" "@DEFAULT_SINK@" "0%"
// spawn-at-startup "swaybg" "-c" "'#282828'" // both need to be here for my fucked-up wallpaper shell script
spawn-at-startup    "libinput-gestures"
spawn-at-startup "rfkill" "unblock" "all"
spawn-at-startup "~/Code/scripts/wallpaper"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.75
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^phonto$"
    place-within-backdrop true
}

window-rule {
    match app-id="^Alacritty$"

    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="^org.pwmt.zathura$"

    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id=r#"^firefox$"# at-startup=true
    open-on-workspace "1"
}
window-rule {
    match title="^calculator$"
    open-floating true
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.45; }
}

window-rule {
    match app-id="obsidian"
    open-on-workspace "2"
    default-column-width { proportion 0.85; }
}

window-rule {
    match title="^launcher$"
    open-floating true
}

window-rule {
    match title="^clipboard$"
    open-floating true
}

window-rule {
    match title="^audio_settings$"
    open-floating true
}

window-rule {
    match title="^spotify$"
    default-column-width { proportion 0.75; }
    // default-window-height { proportion 0.60; }
    // open-floating true
}

window-rule {
    match title="^floating_term$"
    default-column-width { proportion 0.60; }
    default-window-height { proportion 0.60; }
    open-floating true
}


// Doesn't work
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match title="^Extension: *Bitwarden Password manager*"

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

binds {
    Super+Shift+Slash { show-hotkey-overlay; }

    Super+Return       hotkey-overlay-title="Open a terminal: alacritty"          { spawn "alacritty" "-e" "tmux";                             }
    Super+Shift+Return hotkey-overlay-title="Open a floating terminal: alacritty" { spawn "alacritty" "-T" "floating_term" "-e" "tmux";        }
    Super+R            hotkey-overlay-title="Run an application: fsel"            { spawn "alacritty" "-T" "launcher" "-e" "fsel" "-d";        }
    Super+X            hotkey-overlay-title="Open clipboard: fsel"                { spawn "alacritty" "-T" "clipboard" "-e" "cliphist_fsel";   }
    Super+S            hotkey-overlay-title="Open spotify: spotify_player"        { spawn "alacritty" "-T" "spotify" "-e" "spotify_player";    }
    Super+A            hotkey-overlay-title="Open audio settings: pulsemixer"     { spawn "alacritty" "-T" "audio_settings" "-e" "pulsemixer"; }
    Super+E            hotkey-overlay-title="Open file manager: yazi"             { spawn "alacritty" "-T" "file_manager" "-e" "yazi";         }
    Super+N            hotkey-overlay-title="Open resource manager: btop++"       { spawn "alacritty" "-T" "resource_manager" "-e" "btop";     }
    Super+M            hotkey-overlay-title="Open calculator: sage"               { spawn "alacritty" "-T" "calculator" "-e" "sage";           }
    Super+B            hotkey-overlay-title="Open a browser: Firefox"             { spawn "firefox";                                           }
    Super+P            hotkey-overlay-title="Show the time"                       { spawn "datedunst";                                         }
    Super+Shift+P      hotkey-overlay-title="Close notifications"                 { spawn "dunstctl" "close-all";                              }

    XF86AudioRaiseVolume allow-when-locked=true                                   { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+5%";    }
    XF86AudioLowerVolume allow-when-locked=true                                   { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-5%";    }
    XF86AudioMute        allow-when-locked=true                                   { spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle";   }
    XF86AudioPlay        allow-when-locked=true                                   { spawn "playerctl" "play-pause";   }
    XF86AudioStop        allow-when-locked=true                                   { spawn "playerctl" "stop";         }
    XF86AudioNext        allow-when-locked=true                                   { spawn "playerctl" "next";         }
    XF86AudioPrev        allow-when-locked=true                                   { spawn "playerctl" "previous";     }
    XF86AudioForward     allow-when-locked=true                                   { spawn "playerctl" "position" "10+"; }
    XF86AudioRewind      allow-when-locked=true                                   { spawn "playerctl" "position" "10-"; }

    XF86MonBrightnessUp                                                           { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown                                                         { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    Super+O repeat=false                                                          { toggle-overview; }

    Super+C repeat=false                                                          { close-window; }

    Super+H                                                                       { focus-column-left; }
    Super+J                                                                       { focus-window-down; }
    Super+K                                                                       { focus-window-up; }
    Super+L                                                                       { focus-column-right; }

    Super+Shift+H                                                                 { move-column-left; }
    Super+Shift+J                                                                 { move-window-down; }
    Super+Shift+K                                                                 { move-window-up; }
    Super+Shift+L                                                                 { move-column-right; }

    Super+Home                                                                    { focus-column-first; }
    Super+End                                                                     { focus-column-last; }
    Super+Ctrl+Home                                                               { move-column-to-first; }
    Super+Ctrl+End                                                                { move-column-to-last; }

    Super+Shift+Left                                                              { focus-monitor-left;  }
    Super+Shift+Down                                                              { focus-monitor-down;  }
    Super+Shift+Up                                                                { focus-monitor-up;    }
    Super+Shift+Right                                                             { focus-monitor-right; }
    Super+Ctrl+Shift+H                                                            { focus-monitor-left;  }
    Super+Ctrl+Shift+J                                                            { focus-monitor-down;  }
    Super+Ctrl+Shift+K                                                            { focus-monitor-up;    }
    Super+Ctrl+Shift+L                                                            { focus-monitor-right; }
    Super+Alt+H                                                                   { move-column-to-monitor-left;  }
    Super+Alt+J                                                                   { move-column-to-monitor-down;  }
    Super+Alt+K                                                                   { move-column-to-monitor-up;    }
    Super+Alt+L                                                                   { move-column-to-monitor-right; }

    Super+D                                                                       { focus-workspace-down; }
    Super+U                                                                       { focus-workspace-up; }
    Super+Shift+D                                                                 { move-column-to-workspace-down; }
    Super+Shift+U                                                                 { move-column-to-workspace-up; }

    Super+Ctrl+U                                                                  { move-workspace-up; }
    Super+Ctrl+D                                                                  { move-workspace-down; }

    Super+1                                                                       { focus-workspace 2; }
    Super+2                                                                       { focus-workspace 3; }
    Super+3                                                                       { focus-workspace 4; }
    Super+4                                                                       { focus-workspace 5; }
    Super+5                                                                       { focus-workspace 6; }
    Super+6                                                                       { focus-workspace 7; }
    Super+7                                                                       { focus-workspace 8; }
    Super+8                                                                       { focus-workspace 9; }
    Super+9                                                                       { focus-workspace 10; }
    Super+0                                                                       { focus-workspace 1; }
    Super+Shift+1                                                                 { move-column-to-workspace 2; }
    Super+Shift+2                                                                 { move-column-to-workspace 3; }
    Super+Shift+3                                                                 { move-column-to-workspace 4; }
    Super+Shift+4                                                                 { move-column-to-workspace 5; }
    Super+Shift+5                                                                 { move-column-to-workspace 6; }
    Super+Shift+6                                                                 { move-column-to-workspace 7; }
    Super+Shift+7                                                                 { move-column-to-workspace 8; }
    Super+Shift+8                                                                 { move-column-to-workspace 9; }
    Super+Shift+9                                                                 { move-column-to-workspace 10; }
    Super+Shift+0                                                                 { move-column-to-workspace 1; }

    Super+BracketLeft                                                             { consume-or-expel-window-left; }
    Super+BracketRight                                                            { consume-or-expel-window-right; }

    Super+Comma                                                                   { consume-window-into-column; }
    Super+Period                                                                  { expel-window-from-column; }

    Super+Ctrl+Shift+R                                                            { switch-preset-column-width; }
    Super+Shift+R                                                                 { switch-preset-window-height; }
    Super+Ctrl+R                                                                  { reset-window-height; }
    Super+F                                                                       { maximize-column; }
    Super+Ctrl+F                                                                  { fullscreen-window; }

    Super+Shift+F                                                                 { expand-column-to-available-width; }

    Super+Shift+C                                                                 { center-column; }

    Super+Ctrl+C                                                                  { center-visible-columns; }

    Super+Ctrl+H                                                                  { set-column-width "-5%"; }
    Super+Ctrl+L                                                                  { set-column-width "+5%"; }

    Super+Shift+Minus                                                             { set-window-height "-5%"; }
    Super+Shift+Equal                                                             { set-window-height "+5%"; }

    Super+Ctrl+T                                                                  { toggle-window-floating; }
    Super+T                                                                       { switch-focus-between-floating-and-tiling; }

    Super+Ctrl+Shift+W                                                            { toggle-column-tabbed-display; }

    Super+Shift+S                                                                 { screenshot; }
    Super+Shift+Ctrl+S hotkey-overlay-title="Colorpicker"                         { spawn-sh "dunstify \"$(niri msg pick-color)\""; }
    Print                                                                         { screenshot; }
    Ctrl+Print                                                                    { screenshot-screen; }
    Alt+Print                                                                     { screenshot-window; }
    Super+Ctrl+S                                                                  { screenshot-screen; }
    Super+Alt+S                                                                   { screenshot-window; }

    Ctrl+Alt+Delete                                                               { quit; }

    Super+Ctrl+Shift+P                                                            { power-off-monitors; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Super+Escape allow-inhibiting=false                                           { toggle-keyboard-shortcuts-inhibit; }
}
