div > .vimiumHintMarker {
  padding: 4px 6px;
  background-color: #282828;
  border: 0;
  border-radius: 2px;
  /* box-shadow: 0em 0.1em 0.6em 0.1em rgba(0, 0, 0, 0.4); */
  background-image: none;
}

div > .vimiumHintMarker span {
  font-size: 14px;
  font-family: Fira Code;
  font-weight: bold;
  text-shadow: none;
  color: #fbf1c7;
}

div > .vimiumHintMarker > .matchingCharacter {
  color: #fabd2f;
}

/*VOMNIBAR*/
#vomnibar{
  background-color: #282828;
  border-radius: 8px;
  border: 2px solid #98971a;
}

#vomnibar input {
  color: #fbf1c7;
  font-weight: normal;
  font-size: 18px;
  font-family: Fira Code;
  height: 34px;
  /* margin-bottom: 0; */
  padding: 4px;
  background-color: #282828;
  /* box-shadow: #add8e6 0px 0px 1px; */
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

#vomnibar .vomnibarSearchArea {
  display: block;
  padding: 12px;
  background-color: #282828;
  border-radius: 8px;
  /* border-bottom: 1px solid #ff0000; */
}

#vomnibar ul {
  background-color: #282828;
  /* border-radius: 0 0 4px 4px; */
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-block-start: 2px;
  margin-block-end: 0px;
}

#vomnibar li {
  /* border-bottom: 1px solid #1d2021; */
  line-height: 1.1em;
  padding: 7px 10px;
  font-size: 16px;
  color: #f8f8f2;
  position: relative;
  display: list-item;
  margin: auto;
}

#vomnibar li .vomnibarBottomHalf {
  font-size: 14px;
  margin-top: 3px;
  padding: 2px 0;
}

#vomnibar li .vomnibarSource {
  color: #d3969b;
  margin-right: 4px;
}
#vomnibar li .vomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: #282828;
  color: #ebdbb2;
  font-family: Fira Code Mono;
  width: 100px;
  overflow: hidden;
}

#vomnibar li .vomnibarUrl {
   color: #fbf1c7;
   #
}

#vomnibar li .vomnibarMatch {
  font-weight: bold;
  color: #fabd2f;
}

#vomnibar li.vomnibarSelected {
    background-color: #3c3836;
}

#vomnibar li em, #vomnibar li .vomnibarTitle {
  color: #fbf1c7;
  margin-left: 4px;
  font-weight: normal;
}
#vomnibar li em { font-style: italic; }
#vomnibar li em .vomnibarMatch, #vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #fabd2f;
  font-weight: bold;
}

#vomnibarInput::selection {
  background-color: #458588;
}
